body {
    background-color: #3c3838;
}

body > div.duas-colunas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body > div.duas-colunas > div.coluna-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div.duas-colunas > div.coluna-1 > p {
    font-size: xx-large;
    color: white;
    width: 700px;
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
}

div.contatos {
    display: flex;
}

div.contatos > div {
    margin-left: 15px;
}